<h1>Editing Bookmark #<%= @bookmark.id %></h1>

<form action="/bookmarks/<%= @bookmark.id %>/update">
  <div>
    <label for="url">url</label><br />
    <input id="url" name="url" value="<%= @bookmark.url  %>" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @bookmark.name  %>" type="text" />
  </div>
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" value="<%= @bookmark.description  %>" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" value="<%= @bookmark.user_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


