<h1>Editing User #<%= @user.id %></h1>

<form action="/users/<%= @user.id %>/update">
  <div>
    <label for="resource">resource</label><br />
    <input id="resource" name="resource" value="<%= @user.resource  %>" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @user.name  %>" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" value="<%= @user.email  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


