<h1>User #<%= @user.id %></h1>

<div>
  <strong>Resource</strong>:<br />
  <p><%= @user.resource %></p>
</div>
<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><a href="<%= bookmark.url %>"><%=bookmark.name%></a></li>
  <% end %>
</ul>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
